@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Roboto';
}
.box-styling {
  box-shadow: 6px 8px 4px -2px rgba(68, 68, 68, 0.75);
  -webkit-box-shadow: 6px 8px 4px -2px rgba(68, 68, 68, 0.75);
  -moz-box-shadow: 6px 8px 4px -2px rgba(68, 68, 68, 0.75);
}
.box-styling-black {
  box-shadow: inset 0 1px 0 0 #ffffff0d;
}
.background-linear-blue {
  background: linear-gradient(#2b2d42, #7eafdd);
}

.box-styling-hero-section {
  box-shadow: 6px 6px 2px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 2px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 2px 3px rgba(0, 0, 0, 0.75);
}
